<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World with ejs</h1>
    <div>
        <img  class='img-pluto'src="/images/namtrung.png" alt="pluto">
        <link rel="stylesheet" href="/css/styles.css">
    </div>
</body>
</html>