<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div>
    <h1>Hello World with ejs</h1>

        <img  class='img-pluto'src="/images/namtrung.png" alt="pluto">
    
    </div>
</body>
</html>